*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("./background.avif");
}
.remember{
    display: flex;
    justify-content: space-between;
    padding:24px 0px 24px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    background: transparent;
    text-align: center;
    gap: 16px;
    width: 400px;
    padding: 24px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

input{
    padding: 10px 0px 10px 0px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.598);
}
.input-check{
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap:3px;
}
button{
    padding:16px;
    border-radius: 8px;
    border:none;
    font-size: 1.15rem;
    font-weight: 700;
}
p{
    padding:10px 0px;
}
.remember a{
    color:white;
}