*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-auto-rows: 200px; 
    margin:60px 200px;
    /* border:2px solid purple; */
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
.box{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: auto;
    width: auto; */
}  
/* .box img{
    height: 100%;
    width: 100%;
} */
.threerow{
    grid-row: span 3;
}
.container .twocolumn{
    grid-column: span 2;
}
.container .tworow{
    grid-row: span 2;
}