*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    padding:18px 60px;
    justify-content: space-between;
    align-items: center;
        /* background-color: aqua; */
}
.nav-items{
    display: flex;
    gap:50px;
    color: #868E96;
    font-size: 1.15rem;
}
.nav-icons{
    display: flex;
    gap:30px;
    align-items: center;
}
.nav-icons .material-symbols-outlined{
    font-size: 2rem;
}